html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Helvetica Neue', sans-serif;
    
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nav{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
   
}

.menu{
    display: flex;
    cursor: pointer;
  padding-top: 38px;
  padding-right: 75px;
  z-index: 20;
}
.fdrop{
    display: none;
    cursor: pointer;
    position: absolute;
    width: 190px;
    height: 80px;
    top:75px;
    border-top: 2px#2555A6 solid;
    z-index: 20;
    background-color: white;
    box-shadow: 2px 2px 7px 3px#F1F1F1 ; 
}
.menu li{
    padding-bottom: 20px;
}
.menu li:hover .fdrop{display: block;}
.menu li a{
    text-align: center;
    text-decoration: none;
    padding-left: 30px;
    font-size: 15px;
    color: black;
}
.menu >li{
    text-align: center;
}
.fdrop li{
    text-align: left;
    padding-bottom: 13px;
    padding-top: 13px;
    background-color: white;
}
.menu >li >a:hover{
    color: #2555A6;
}
.nav img{
    height:18%;
    width: 11.5%;
    padding-left:32px ;
    padding-top: 16px;
    cursor: pointer;

}
i{
    padding-left: 3px;
}
i:hover{
    color: #2555A6;
}
.fdrop li:hover {
    background-color: #F1F1F1;

}
footer{
    width: 100%;
    height: 50vh;
    background-color: #2555A6;
    position: relative;
}
.info{
    width: 80%;
    margin: 0 10% 5% 10%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.info1{
    width: 50%;
    height: 80%;
    margin: 3% 1%;
    display: flex;
    flex-direction: column;
}
.info1 a{
    text-decoration: none;
    padding-top: 15px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}
.info1 h1{
    font-size: 45px;
    color: white;
}
.social{
    width: 30%;
    margin: 3% 1%;
    display: flex;
    position: relative;
    right:-10%;
    flex-direction: column;
    height: 150px;
}
.social .num a{
    font-size: 15px;
color: white;
text-decoration: none;

}
.social .mail a{
    font-size: 15px;
color: white;
letter-spacing: 1px;
text-decoration: none;
}
.social .so1 i{
    color: white;
    font-size: 35px;
    padding-top: 15px;
padding-left: 15px;}

.contact{
margin-top: 15px;

}
.fb{
    position: relative;
    width: 45%;
    right:-62%
}

.copyright{
    position: absolute;
    left: 42%;
bottom: 5%;
color: white;}


.mid{
    width: 100%;
    margin-top: 25px;
    background-image: url("images/img_2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.head{
    width: 100%;
background-color: rgba(37, 85, 166,.7);
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
}
.head h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 40px 0 60px 0;
}
.para{
    background: white;
    margin-bottom:80px ;
    width: 60%;
    position: relative;
    left: 20%;
}
.para p{
    padding: 45px 55px 45px 55px ;
    color: #212529;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .7px;
}
.para a{
    text-decoration: none;
}
